@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@500;700&family=Edu+TAS+Beginner:wght@500&family=Martel+Sans:wght@400;600;900&family=Merienda&family=Montserrat:wght@200;800;900&family=Orbitron:wght@500&family=Pacifico&family=Pixelify+Sans&family=Playfair+Display&family=Poppins:wght@300;500;600;700;900&family=Press+Start+2P&family=Sacramento&family=Stick+No+Bills:wght@500&family=Yanone+Kaffeesatz:wght@600&display=swap");
body {
	margin-top: 40px; /* This margin just makes the text easier to read. You can remove it if you want since it can mess with your other styles. */
}

body::before {
	content: "XS";
	color: red;
	font-size: 2rem;
	font-weight: bold;
	position: fixed;
	top: 0px;
	right: 0;
}

/* This box class is purely used for explaining how the bootstrap grid system works. */
@media (min-width: 576px) {
	body::before {
		content: "SM";
	}
}

@media (min-width: 768px) {
	body::before {
		content: "MD";
	}
}

@media (min-width: 992px) {
	body::before {
		content: "LG";
	}
}

@media (min-width: 1200px) {
	body::before {
		content: "XL";
	}
}

@media (min-width: 1400px) {
	body::before {
		content: "XXL";
	}
}

/* BREAKPOINT HELPER STYLES */

*,
*:before,
*:after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	/* max-width: 1400px; */
	/* font-family: "Poppins"; */

	font-family: "Cabin";
	/* font-family: "Pixelify sans"; */
}
/* .hero-banner {
	background-image: url(../images/website-bg-2.jpg);
	width: 1919.536px;
	height: 1080px;
	flex-shrink: 0;
} */

/* ======= PAGE BACKGROUND STYLES ======= */
.background {
	background-color: #b41bd65e;
	width: 100%;
	height: 100%;
	z-index: -1;
	position: fixed;
	clip-path: polygon(100% 0, 19% 100%, 100% 100%);
}
/* ======= PAGE BACKGROUND STYLES ======= */

/* ======= NAVBAR STYLES ======= */
.custom-nav {
}

.custom-nav a {
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 2px;
}
nav ul li a,
nav ul li a:after,
nav ul li a:before {
	transition: all 0.5s;
}

nav.custom-nav ul li a {
	position: relative;
}
nav.custom-nav ul li a:after {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	width: 0%;
	content: "";
	color: transparent;
	background: rgba(7, 7, 7, 0.226);
	height: 1px;
}
nav.custom-nav ul li a:hover {
	color: rgb(191, 13, 231);
}
nav.custom-nav ul li a:hover:after {
	width: 100%;
}
@media (max-width: 767px) {
	nav.custom-nav ul li a:hover:after {
		display: none;
	}
}
.nav-logo {
	font-family: Stick No Bills;
	font-size: 4rem;
	letter-spacing: 6px;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin-top: 25px;
}

.logo-span {
	color: grey;
}
/* ======= NAVBAR STYLES ======= */

/* ======= HEADER STYLES ======= */

#page-overlay {
	background-color: #b222d3;
	color: #d1e5f9;
	padding: 4.5em 0 2.5em 0;

	height: 110vh;
	/* height: 110vh; */
	min-height: 35em;
}

#page-overlay h1 {
	/* color: #bdb7be; */
	/* color: #302a31; */
	color: #49444a;
}
#page-overlay p {
	color: #49444a;
}

#overlay-header {
	position: relative;

	animation: mymove 2s ease-in forwards;
}
#overlay-header h1 {
	font-size: 15rem;
}

@keyframes mymove {
	from {
		top: -100px;
		opacity: 1;
	}
	to {
		top: 50px;
		opacity: 0;
	}
}
/* ======= HEADER STYLES ======= */

/* ======= HERO STYLES ======= */
/* #hero {
	background-color: red;
	height: 750px;
	flex-shrink: 0;
} */

.thumbnail {
	position: relative;
	overflow: hidden;
	transition: transform 0.5s, opacity 0.5s;
}

.thumbnail:hover {
	opacity: 0.9;
	transform: scale(0.9);
}

/* ======= HERO STYLES ======= */

/* ======= GENERAL PAGE STYLES STYLES ======= */

.gap {
	padding: 20px 0px;
}
/* ======= GENERAL PAGE STYLES STYLES ======= */

/* ======= PROJECT COLUMN  STYLES ======= */

.wrap-container {
	display: flex;
}
@media (max-width: 767px) {
	.wrap-container {
		flex-direction: column;
		flex-direction: column-reverse;
	}
	.small-container-text {
		margin-top: 50px;
	}
}

/* © */
/* ======= PROJECT COLUMN  STYLES ======= */
/* ======= FOOTER STYLES ======= */

footer a {
	color: rgba(89, 89, 89, 0.992);
}

footer ul li a:hover {
	color: rgba(158, 156, 156, 0.76);
}

/* ======= FOOTER STYLES ======= */
